.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    width: 80%;
    margin: auto;
    height: 100vh;
}

.header,
.footer {
    grid-column: span 3;
    background-color: yellow;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.nav,
.article,
.ads {
    background-color: yellow;
    padding: 10px;
    font-weight: bold;
}