.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.header {
    grid-column: span 12;
    background-color: purple;
    height: 50px;
}

.sidebar {
    grid-column: span 3;
    background-color: skyblue;
    height: 150px;
}

.content {
    grid-column: span 6;
    background-color: white;
    height: 150px;
}

.right-sidebar {
    grid-column: span 3;
    background-color: skyblue;
    height: 150px;
}

.footer {
    grid-column: span 12;
    background-color: skyblue;
    height: 50px;
}